<h2>Artists</h2><br>
<table>
    <thead>
        <th>Artist Name</th>
    </thead>
    <tbody>
    <% @artists.each do |artist| %>
        <tr>
            <td><%= link_to artist.name, artist_path(artist) %></td>
        </tr>
    <% end %>
    </tbody>
</table>
