<h2><%= @artist.name %></h2>
<table>
    <thead>
        <th>Song Titles</th>
    </thead>
    <tbody>
        <% @artist.songs.each do |song| %>
        <tr>
            <td><%= song.title %></td>
        </tr>
        <% end %>
    </tbody>
</table>